:root {
  font-family: '72', '72full', Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #32363a;
  background: #f5f6f7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

code {
  background: #eef;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
}
